body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body, #app, #app>div, #root,#login {
  height: 100%
}

#login {
  background-image: url('../assets/images/background2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100%;
}
.button {
  font-size: 20px;
  padding: 15px;
  background-color: #0886ff;
  color: #fff;
  border-radius: 4px;
}

.button.primary {
  background-color: #0886ff;
}

.button.secondary {
  background-color: #73a800;
}
.primary {
  background-color: #0886ff;
}
.warning {
  background-color: tomato;

}
.danger { 
  background-color: salmon;

}
.success {
  background-color: #73a800;
}

.popup {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5);  
  z-index: 2;

}  
.popup .inner {  
  position: absolute;
  left: 30%;
  width: 50%;
  height: 75%;
  right: 30%;
  top: 10%;
  /* bottom: 30%; */
  margin: auto;
  border-radius: 20px;
  background: white;
  z-index: 3;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-box-shadow: 0px 5px 14px -4px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 5px 14px -4px rgba(0,0,0,0.4);
box-shadow: 0px 5px 14px -4px rgba(0,0,0,0.4);
}
.navbar {
  background: none !important;
}
  .dropDiv {
    margin-top: 5% !important;
  }

  @media only screen and (min-width: 1800px) {
    .popup .inner {  
      width: 25% !important;
    }
  }
@media only screen and (min-height: 1200px) {
  .popup .inner {  
    height: 50%;
    top: 20%;
  }
}
@media only screen and (max-height: 1200px) {
  .popup .inner {  
    height: 60%;
    top: 20%;
  }
}

@media only screen and (max-height: 1000px) {
  .popup .inner {  
    height: 70% !important;
    top: 20%;
  }
}

@media only screen and (max-height: 850px) {
  .popup .inner {  
    height: 80% !important;
    top: 10%;
  }

  .dropDiv {
    margin-top: 5% !important;
  }
}
@media only screen and (max-height: 750px) {
  .popup .inner {  
    height: 85% !important;
    top: 8%;
  }
  .popup h1 {

    margin-bottom: 0.7em !important;
  }
}

.popup .inner::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Chrome/Safari/Webkit */
}
.popup h1 {
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.popup h2{
  text-align: center;
}

.popup .textInput {
  width: 100%;
  border-style: none;  
  border-bottom: solid;
  border-bottom-width: 1px; 
  margin-bottom: 1.5em;
}

.popup .heading{
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  font-size: 24px;
}

.popup textarea{
  width: 80%;
  height: 60%;
  margin-right: 10%;
  margin-left: 10%;
  resize: none;
}

.popup .textInput:focus {
  outline:none;
}

.popup .selectButton {
  background-color: #FA8231;
  color: #fff;
  margin-top: 5%;
  border-radius: 11;
  box-shadow: 0px 2px 10px -4px rgba(0,0,0,0.5);
  border: none;
  font-family: Montserrat;
  height: 45;
  font-weight: 600;
}

.draggedImage{
  width: 100%;
  height: 100%;
}

.draggedImage img {
  max-width: 100%;
  max-height: 100%;
  object-fit: scale-down;
}

.imageTitle {
  font: 700 30px "Montserrat", sans-serif;
}
.imageSubtitle {
  font: 600 15px "Montserrat", sans-serif;
}
.rootxs {
  height: 14% !important;
  padding: 7px !important;
}
.rootsm {
  height: 25% !important;
  padding: 7px !important;
}


.root {
  height: 33% !important;
  padding: 7px !important;
}

.tile {
  border-radius: 17px !important;
  display: flex !important;
  height: 400px !important;
}
.rootlg {
  height: 50% !important;
  padding: 7px !important;
}
.rootxl {
  height: 100% !important;
  padding: 7px !important;
}


.dragText {
  top: 34%;
  position: relative;
  left: 25%;
  right: 25%;
  font: 600 15px "Montserrat", sans-serif;
  text-align: center;
  align-items: center;

  position: absolute;

}
.newProjectTitle{
  font: 800 35px "Montserrat", sans-serif;
  padding-top: 24px;

}
.inputTitle{
  font: 600 15px "Montserrat", sans-serif;

}
.messagePopup {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5);  
  z-index: 4;
}  
.messagePopup\_inner {  
  position: absolute;
  left: 30%;
  width: 50%;
  height: 25%;
  right: 30%;
  top: 25%;

  text-align: center;
  font: 700 30px "Montserrat", sans-serif;
  margin: auto;
  border-radius: 20px;
  background: white;
  padding: 4%;
  overflow-y: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-box-shadow: 0px 5px 14px -4px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 5px 14px -4px rgba(0,0,0,0.4);
box-shadow: 0px 5px 14px -4px rgba(0,0,0,0.4);
  z-index: 5;
}

.messagePopup\_inner ::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Chrome/Safari/Webkit */
}

.childIdeas{
  margin-right: 1em !important;
}

.video{
  background-color: #ADD8E6;
}

.image{
  background-color: #32CD32;

}

.sound{
  background-color: #F08080;
}

.writing{
  background-color: #BEBEBE;
}

.amplificationTile {
  z-index: 90;
  height: auto;
  padding-bottom: 25px;
  border-radius: 17px;
  margin-top:40px;
  background-color: #fff;
  -ms-overflow-style: none;
  -webkit-box-shadow: 0px 1px 14px -4px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 1px 14px -4px rgba(0,0,0,0.4);
box-shadow: 0px 1px 14px -4px rgba(0,0,0,0.4);
}


.amplificationTileClosed {
  z-index: 90;
  height: auto;
  padding-bottom: 20px;
  border-radius: 17px;
  margin-top:40px;
  background-color: #fff;
  -ms-overflow-style: none;
  -webkit-box-shadow: 0px 1px 14px -4px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 1px 14px -4px rgba(0,0,0,0.4);
box-shadow: 0px 1px 14px -4px rgba(0,0,0,0.4);
}

.ampTileChip {
  cursor: pointer;
  background-color: #2F4858;
  height: 50px;
  width:50px;
  border-radius: 25px;
  -ms-overflow-style: none;
  -webkit-box-shadow: -2px 1px 4px 0px rgba(0,0,0,0.4);
-moz-box-shadow: -2px 1px 4px 0px rgba(0,0,0,0.4);
box-shadow: -2px 1px 4px 0px rgba(0,0,0,0.4);
position: absolute;
z-index: 99;
margin-top: 20px;
margin-left: 30px;
}
.ampTileChipClosed {
  cursor: pointer;
  background-color: rgb(149, 163, 172);
  height: 50px;
  width:50px;
  border-radius: 25px;
  -ms-overflow-style: none;
  -webkit-box-shadow: -2px 1px 4px 0px rgba(0,0,0,0.4);
-moz-box-shadow: -2px 1px 4px 0px rgba(0,0,0,0.4);
box-shadow: -2px 1px 4px 0px rgba(0,0,0,0.4);
position: absolute;
z-index: 99;
margin-top: 20px;
margin-left: 30px;
}
.outer {
  z-index: 1;
  width: 4px;
  height: 433px;
  position: absolute;
  overflow: hidden;
  margin-left: 52px;
  margin-top: -68px;
}
.inner {
  position: absolute;
  width: 100%;
  height: 100%;
  background:rgb(149, 163, 172);
  top: 30%;
  opacity: 0.5;

}

.outerClosed {
  z-index: 1;
  width: 5px;
  height: 285px;
  position: absolute;
  overflow: hidden;
  margin-left: 52px;
  margin-top: -60px;
}
.innerClosed {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(149, 163, 172);
  top: 30%;
  opacity: 0.5;
}

.chipClicked {
  background-color: #FA8231 !important;
  color: #fff !important;
}
.chipUnclicked {
  background-color: #e0e0e0 !important;
}
.amplificationTileTitleRow{
  margin: 39px 0px 0px 10px !important;
}
.amplificationTileTitleRow h2 {
  font: 800 25px "Montserrat", sans-serif;
  
}

.chipDisabled {
  background-color: #e0e0e0 !important;
  opacity: 0.5;
  cursor: not-allowed !important;
}
.popMenu {
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2) !important; 
}

.amplificationDone {
  background-color: #2F4858 !important;
  color: #fff !important;
  right: 15px !important;
  position: absolute !important;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1) !important;
}

.amplificationDoneDisabled {
  background-color: #e0e0e08e !important;
  cursor: not-allowed !important;
  color: #00000033 !important;
  right: 15px !important;
  position: absolute !important;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1) !important;
  
}

.smallFab {
  width: 35px !important;
  height: 23px !important;
}